<p><%= label_tag 'song_name' %><br/>
<%= f.text_field :name %></p>

<p><%= label_tag 'song_duration' %><br/>
<%= f.text_field :duration %></p>


<p><%= label_tag 'song_artist' %><br/>
<%= select("song", "artist_id", 
    Artist.all.collect {|a| [ a.name, a.id ] }, 
    { :include_blank => true }) %></p>


<p>
  <%= submit_tag 'Save Song' %>
  or <%= link_to 'cancel', songs_path %>
</p>