<h2>Songs</h2>
<%= flash_success %>
<p><%= link_to "Add a Song", new_song_url %></p>
<table border=1>
  <tr>
    <th>Name</th>
    <th>Duration</th>
  </tr>
  <% @songs.each do |song| %>
    <tr>
      <td><%= song.name %></td>
      <td><%= song.duration %></td>
      <td><%= link_to "show", song_path(song.id) %></td>
      <td><%= link_to "delete", 
            {:action => "destroy", :id => song.id }, 
            :method => :delete %></td>
      <td><%= link_to "edit", edit_song_path(song.id) %></td>
    </tr>
  <% end %>
</table>